bin
include
lib
lib64
.env
pyvenv.cfg
src/__pycache__/main.cpython-310.pyc
.gitignore
src/Database/__pycache__/getEngine.cpython-310.pyc
src/Database/Models/__pycache__/models.cpython-310.pyc
src/Routes/__pycache__/
src/Database/Queries/__pycache__/